/* Add CSS Styling */
.odd-numbers {
    font-family: verdana, "DejaVu Sans", sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9b4be;
}
#second-number {
    font-family: "Courier New", Courier, monospace;
    color: blue;
    font-size: 36px;
}

.text-size {
    font-size: 24px;
}

#fouth-number {
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: rgb(8, 240, 8);
    font-size: 24px;
    font-weight: bold;
}